<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KojVenStatistic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="KojVenStatisticEntities" connectionString="metadata=res://*/Entity.AppProjectModel.csdl|res://*/Entity.AppProjectModel.ssdl|res://*/Entity.AppProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K23-1\SQLEXPRESS;initial catalog=KojVenStatistic;persist security info=True;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KojVenStatisticEntities1" connectionString="metadata=res://*/Entity.AppProjectModel.csdl|res://*/Entity.AppProjectModel.ssdl|res://*/Entity.AppProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-L8HJKCC\SQLEXPRESS;initial catalog=KojVenStatistic;persist security info=True;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KojVenStatisticEntities2" connectionString="metadata=res://*/Entity.AppProjectModel.csdl|res://*/Entity.AppProjectModel.ssdl|res://*/Entity.AppProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K20-02\SQLEXPRESS;initial catalog=KojVenStatistic;persist security info=True;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KojVenStatisticEntities3" connectionString="metadata=res://*/Entity.Model1.csdl|res://*/Entity.Model1.ssdl|res://*/Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RPV8DEL\SQLEXPRESS;initial catalog=KojVenStatistic;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <KojVenStatistic.Properties.Settings>
      <setting name="UserId" serializeAs="String">
        <value>0</value>
      </setting>
    </KojVenStatistic.Properties.Settings>
  </userSettings>
</configuration>